
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calc</title>
    <link href="/CSS/bootstrap.css" rel="stylesheet" />
    <link href="/CSS/site.css" rel="stylesheet" />
    <script data-main="ListManager" src="/Scripts/require.js"></script>
    <!-- IE -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <!-- other browsers -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">TradePost</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/Views/ListManager/">Manage Lists</a></li>
                    <li><a href="/Strategies">Examine Strategies</a></li>
                    <li><a href="/Tests/ListManager/Index.html">Testing</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/Account/Register" id="registerLink">Register</a></li>
                    <li><a href="/Account/Login" id="loginLink">Log in</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">

        <h1>Ticker Lists</h1>



        <div>
            <button class="bluebtn" data-bind="click: RefreshListofLists">Refresh</button>
            <button class="bluebtn" onclick="parent.location = '/Views/ListManager/Add.html'">Add New List</button>
        </div>

        <div data-bind="foreach: ListofLists">
            <div>
                <h3 data-bind="text: id"></h3>
            </div>
        </div>


        <hr />
            <footer>
                <p>&copy; 2014 - John Placais</p>
                <div data-bind='visible: ShowDebug()'>debug: <span data-bind="text: Debug"></span></div>
            </footer>
</div>
</body>
</html>
