<script data-main="/ViewScripts/Home" src="/Scripts/require.js"></script>

<div class="Fadein" style="display: none;">
    <h1>Welcome</h1>
    Wondering what this site is? Well it is pure awesome.
</div>


<hr />