<script data-main="/ViewScripts/StrategyManager" src="/Scripts/require.js"></script>

<h1>Strategies</h1>



<div>
    <button class="bluebtn" data-bind="click: RefreshListofStrategies">Refresh</button>
    <button class="bluebtn" onclick="parent.location = '/StrategyAdd'">Add New Strategy</button>
</div>

<div data-bind="foreach: ListofStrategies">
    <div>
        <h3 data-bind="text: id"></h3>
    </div>
</div>


<hr />