<script data-main="/ViewScripts/TickerListManager" src="/Scripts/require.js"></script>

<h1>Add A Ticker List</h1>
<div>
    <div class="namedlabel"> Name </div>
    <input class="named" data-bind="value: TickerList.ListName" />
</div>

<!-- Grid to edit items in Ticker List -->
<table class="table" data-bind='visible: TickerList.ListOfTickers().length > 0'>
    <thead>
        <tr>
            <th>Ticker</th>
            <th>Weight</th>
            <th>Description</th>
            <th>Valid</th>
            <th />
        </tr>
    </thead>
    <tbody data-bind='foreach: TickerList.ListOfTickers'>
        <tr>
            <td><input class='tabledupper' data-bind='value: ticker, uniqueName: true' /></td>
            <td><input class='tabled' data-bind='value: weight' /></td>
            <td><input class='tabled' disabled data-bind='value: tickerdescription' /></td>
            <td><span data-bind="css: { checkmark: valid }"></span></td>
            <td><a href='#' data-bind='click: $root.removeTickerItem'>Delete</a></td>
        </tr>
    </tbody>
</table>
<button class="graybtn" data-bind='click: AddTickerItem'>Add Ticker</button>
<button class="bluebtn" data-bind="click: SaveTickerList, enable: IsTickerListSaveable">Save</button>


<hr />